.bg {
    width: 100%;
    background-color: #FFF7DF;
}

.title_home {
    color: #5C5C5C;
    text-align: center;
}

.image-wrapper {
    position: relative;
    width: 50%;
    
}

.image-wrapper img {
    position: absolute;
}

.gradient-text {
    font-size: x-large;
    background: linear-gradient(to right, #FFC000, #FF8A00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.pargraph {
    color: #5C5C5C;
    font-size: small;
    padding: 5% 0;
}


